<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Park</title>
</head>

<body>
    <h1>Update Park</h1>
    <form action="/parks/<%=park._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Park Name</label>
            <input type="text" id="title" name="park[title]" value="<%=park.title%>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="park[location]" value="<%=park.location%>">
        </div>
        <button>Update Park</button>
    </form>
    <a href="/parks/<%=park._id%>">Back to Park</a>
</body>

</html>