<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parks</title>
</head>

<body>
    <h1>Welcome to BarkPark!</h1>
    <h2>Please view a list of all parks below:</h2>
    <h3>Can't find a park? <a href="/parks/new">Create it!</a>
    </h3>
    <ul>
        <% for(let park of parks) { %>
            <li>
                <a href="/parks/<%=park._id%>">
                    <%=park.title%>
                </a>
            </li>
            <% }%>
    </ul>
</body>

</html>