<% layout('layouts/boilerplate')%>
    <h1>
        <%=park.title%> Details
    </h1>
    <h2>
        <%=park.location%>
    </h2>
    <p>
    <form action="/parks/<%=park._id%>?_method=DELETE" method="POST">
        <button>Delete Park</button>
    </form>
    </p>
    <footer>
        <div>
            <a href="/parks/<%=park._id%>/edit">Update this Park</a>
        </div>
        <a href="/parks">Return to All Parks</a>
    </footer>